<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Lista de Todas as Consultas</title>
</head>
<body>
<main>

    <div class="container">
        <h1>LISTA DE CONSULTAS</h1>
        <!-- Formulário de Pesquisa-->
        <form th:action="@{/consultas/buscar}" method="get">
            <input type="date" name="data" placeholder="Data da Consulta">
            <button type="submit">Buscar</button>
        </form>
        <table class="table" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Médico</th>
                <th>Paciente</th>
                <th>Observação</th>
                <th>Data</th>
                <th>Valor</th>
                <th sec:authorize="hasAnyRole('ADMIN')"></th>
                <th sec:authorize="hasAnyRole('ADMIN')"></th>
            </tr>
            </thead>
            <tr th:each="c : ${consultas}">
                <td th:text="${c.id}"> </td>
                <td th:text="${c.medico.nome}"> </td>
                <td th:text="${c.paciente.nome}"> </td>
                <td th:text="${c.observacao}"> </td>
                <td th:text="${c.data}"> </td>
                <td th:text="${c.valor}"> </td>
                <td sec:authorize="hasAnyRole('ADMIN')"> <a th:href="@{/consultas/edit/{id}(id=${c.id})}" class="btn btn-primary btn-sm">Editar</a> </td>
                <td sec:authorize="hasAnyRole('ADMIN')"> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/consultas/remove/{id}(id=${c.id})}" class="btn btn-danger btn-sm">Excluir</a> </td>
            </tr>
        </table>
    </div>

</main>
</body>
</html>