<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Lista de Médicos</title>
</head>
<body>
<main>

<div class="container">
    <h1>LISTA DE MÉDICOS</h1>
    <!-- Formulário de Pesquisa-->
    <form th:action="@{/medicos/buscar}" method="get">
        <input type="text" name="nome" placeholder="Nome do médico">
        <button type="submit">Buscar</button>
    </form>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Crm</th>
            <th>Consultas</th>
            <th sec:authorize="hasAnyRole('ADMIN')"></th>
            <th sec:authorize="hasAnyRole('ADMIN')"></th>
        </tr>
        </thead>
        <tr th:each="p : ${medicos}">
            <td th:text="${p.id}"> </td>
            <td th:text="${p.nome}"> </td>
            <td th:text="${p.crm}"> </td>
            <td> <a th:href="@{/medicos/listconsulmedico/{id}(id=${p.id})}" class="btn btn-secondary btn-sm">Abrir Lista de Consultas</a> </td>
            <td sec:authorize="hasAnyRole('ADMIN')"> <a th:href="@{/medicos/edit/{id}(id=${p.id})}" class="btn btn-primary btn-sm">Editar</a> </td>
            <td sec:authorize="hasAnyRole('ADMIN')"> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/medicos/remove/{id}(id=${p.id})}" class="btn btn-danger btn-sm">Excluir</a> </td>
        </tr>
    </table>
</div>

</main>
</body>
</html>